<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Database Management</title>
    <!-- style css -->
    <link rel="stylesheet" href="../assets/about.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="../assets//responsive.css">

    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body style="background-color:lightblue;" class="main-layout inner_header about_page">

    <%- include('./public/Navbar.ejs') %>

        <div class="yellow_darkbg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="titlepage">
                            <h2>About Us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="team">
            <div class="container">
                <div class="row d_flex">
                    <div class="col-md-6">
                        <div class="titlepage">
                            <h3>We believe in preserving the confidentiality</h3>

                            <p>MNY E-Commerce & Safety Solutions Private Limited is a Bengaluru based company providing
                                complete digital & IT services to the clients. Basically we are into Digitalisation of
                                Documents and Software & Security Systems Installation Services.
                                <br><br>
                                MYN is handling sensitive paper management, high security printing and other sensitive
                                services for banking, government institutions and Pvt. Companies. MNY today is the
                                trusted brand for end-to-end document management solutions for small, medium and large
                                business organizations.
                                <br><br>
                                We start with advisory services and go all the way to storage and retrieval on
                                demand—physically or electronically, on media or via the Web.
                            </p>
                            <!-- <a class="read_more" href="#"> Read More</a> -->
                        </div>
                    </div>
                    <div class="col-md-5 offset-md-1">
                        <div class="team_img">
                            <figure><img src="../assets/public/sco.png" alt="#" /></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- team -->

        <!--  footer -->
        <footer>
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <img class="logo1" src="../assets//public/Logo.jpg" alt="#"
                                style="width:150px; height: 80px" />
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <h3>Useful Link</h3>
                            <ul class="link_menu">
                                <li><a href="/welcome">Home</a></li>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/search">Search</a></li>
                                <li><a href="/admin">Admin</a></li>
                            </ul>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <h3>Contact Us</h3>
                            <ul class="link_menu">
                                <li><a href="#">mnydigitalindia@gmail.com</a></li>
                                <li><a href="#">9461272400</a></li>
                                <li><a href="#">Shop No. 2,No. 9,3rd Floor,Mataji Tower, Appaji Rao Lane, C.T. Street
                                        Cross, Nagarathpet, Bangalore - 560002</a></li>

                            </ul>
                        </div>
                        <div class="col-md-8 offset-md-4 ">
                            <form class="bottom_form">
                                <h3>Newsletter</h3>
                                <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
                                <button class="sub_btn">subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <p>© 2021 All Rights Reserved. Design by <a href="http://techiweb.in/"> Techiweb</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->
</body>

</html>