<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Management</title>
    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="background-color:lightblue;">
    <%- include('./public/Navbar.ejs') %>
        <div class="container mb-5">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center mt-5 mb-5">Delete List</h4>
                    <div class="table-responsive" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                        <table id="mytable" class="table table-bordred table-striped text-center">

                            <thead>
                                <th>S.No.</th>
                                <th>Name</th>
                                <th>Delete</th>

                            </thead>
                            <tbody>

                                <% listData.forEach(function(item){ %>
                                    <tr>
                                        <td>
                                            <%= item.sn %>
                                        </td>
                                        <td>
                                            <%= item.name %>
                                        </td>

                                        <td>
                                            <a href="/deleteList/<%= item.sn %>">
                                                <p data-placement="top" data-toggle="tooltip" title="Delete">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                                        data-target="#exampleModalCenter">
                                                        Delete
                                                    </button>
                                                </p>
                                            </a>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>