<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Management</title>
    <link href="../assets/admin.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <%- include('./public/loader.ejs') %>

    <%- include('./public/Navbar.ejs') %>
    <div class="container ">
    <div class="row">

        
        <div >
        <% homes.forEach(function(item){ %>
            
                    <form action="/listviewpage" method="get"> 

                       <div class="col-lg-6 col-md-6 col-sm-6"> <button id="name" name="name" value="<%= item.name %>" >
                            <img src="../assets/public/folderIcon.png" alt="folderImg"  >
                            
                        </button> 
                    </div>
                        
                        <%= item.name %> <br><br> 

                    </form>

                    
                 <% })          
                 %>
                </div>
     

    </div>
  
    </div>
</body>

</html>