<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Management</title>
    <link href="../assets/admin.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>

<body style="background-color:lightblue;">

    <%- include('./public/Navbar.ejs') %>
        <div class="container">
            <div class="row">
                <% homes.forEach(function(item){ %>
                    <form action="/listviewpage" method="post">
                        <div class="search_folder" style="padding: 20px;">
                            <div> <button id="name" name="name" value="<%= item.name %>" style="border: none; outline: none; cursor: pointer; background: bottom;
                                    border: aliceblue; color: black;">
                                    <img src="../assets/public/folderIcon.png" alt="folderImg" width="100px"
                                        height="100px">
                                </button>
                            </div>
                            <div style="font-weight: 600;">
                                <%= item.name %>
                            </div>
                        </div>
                    </form>
                    <% }) %>
            </div>
        </div>
</body>

</html>