<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Management</title>
    <link href="../../assets/nav.css" rel="stylesheet">
</head>

<body>
    <header style="background-color: #0b0634; padding-top: 20px;">
        <nav class="navbar">
            <a class="navbar-brand" href="/welcome">
                <img src="../../assets/public/Logo.jpg" alt="Company_logo" height="70">
            </a>
            <ul>
                <li><a href="/welcome">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/allsearch">All Search</a></li>
                <li><a href="/admin">Admin</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <div id="google_translate_element" style="float: right; margin-top: 12px; padding: 5px;"></div>
        </nav>
    </header>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                { pageLanguage: 'en' },
                'google_translate_element'
            );
        }
    </script>

    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

</html>